.link{
    display: block;
    margin:10px;
    text-decoration: none;
    color:grey;
}

.linkActive{
    display: block;
    margin:10px;
    text-decoration: none;
    color:blue;
}

.linkList{
    display: flex;
}